{% extends 'layout.html'%}
{% block content%}
{% include '_messages.html'%}


<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/admin"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">home </a>
      </li>
    




 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Productos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-link" href="{{url_for('addproduct')}}">Agregar Producto</a>
         
          
        </div>
      </li>

     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Marcas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('addbrand')}}">Agregar Marcas</a>
          <a class="dropdown-item" href="/brands">Listar Marcas</a>
          
        </div>
      </li>

<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('addcategory')}}">Agregar Cateogria</a>
          <a class="dropdown-item" href="/category">Lista las Categorias</a>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vendedor
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" href="{{url_for('addvendedor')}}">Agregar Vendedor</a>
          <a class="dropdown-item" href="/vendedor">Lista de Vendedor</a>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('addcliente')}}">Agregar Cliente</a>
          <a class="dropdown-item" href="/cliente">Lista De Clientes</a>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Administradores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('addadministrador')}}">AgregarAdministrador</a>
          <a class="dropdown-item" href="/administrador">Lista De Administradores</a>         
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Ventas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('addventa')}}">Agregar Venta</a>
          <a class="dropdown-item" href="/venta">Lista De Ventas</a>  
        </div>
      </li>
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Ordenes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('CustomerOrders')}}">Ordenes del cliente</a>      
        </div>
      </li>

 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Usuario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('users')}}">lista</a> 
        </div>
      </li>

       <li class="nav-item"> 
  <a href="{{url_for('logout')}}" class="nav-link">Salir</a>
</li>
      
    </ul>
  </div>
</nav>
</div>
<div clas="container mt-5">
	<table class="table table-sm table-condensed table-striped">
	<thead>
		<th>ID</th>
		<th>Nombre </th>
		<th>Apellido Paterno</th>
		<th>Apellido Materno</th>
		<th>edad</th>
		<th>Telefono</th>
		<th>Calle</th>
    <th>colonia</th>
    <th> # numero dire</th>
    <th>Imagen</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<tbody>
		{% for administrador in administradores%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{administrador.name}}</td>
			<td>{{administrador.apellidop}}</td>
			<td>{{administrador.apellidom}}%</td>
      <td>{{administrador.edad}}%</td>
      <td>{{administrador.telefono}}%</td>
      <td>{{administrador.calle}}%</td>
      <td>{{administrador.colonia}}%</td>
      <td>{{administrador.numdire}}%</td>
       <td><img src="{{url_for('static',filename='images/'+ administrador.image_1)}}" width="50" height="40"></td>
			<td><a href="{{url_for('updateadministrador',id=administrador.id)}}" class="btn btn-info btn-sm">Editar</a></td>
			<td>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-{{administrador.id}}">
Eliminar
</button>
</td>
    </tr>


    <!-- Button trigger modal -->


<!-- Modal -->

<div class="modal fade" id="exampleModal-{{administrador.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ administrador.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">Are you Sure that you want to delete producto({{ administrador.name }}) </p>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('deleteadministrador',id=administrador.id)}}" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
		{%endfor%}
		</td>
	</tbody>
</table>
{% endblock content%}